<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vehicle Insurance Claims</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Generate predictions for Vehicle insurance claims." />
    <meta property="og:title" content="Vehicle Insurance Claims" />
    <meta property="og:description" content="Generate predictions for Vehicle insurance claims." />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Inter:wght@400;500&family=League+Spartan:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">
</head>

<body class="bg-light-subtle">
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md shadow-sm bg-secondary-subtle">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="mailto:esampson692@gmail.com?subject=Vehicle Insurance Claims Project"
                            target="_blank">Contact Me</a>
                    </li>
                    <li class="nav-item dropdown d-md-none">
                        <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Input definitions
                        </span>
                        <div class="dropdown-menu py-1 px-1">
                            <div>
                                <b>Policy tenure:</b> Indicates the time period for the insurance policy.
                            </div>
                            <div>
                                <b>Age of vehicle:</b> Indicates the age of the vehicle in years.
                            </div>
                            <div>
                                <b>Age of policyholder:</b> Indicates the age of the policyholder in years.
                            </div>
                            <div>
                                <b>Population density:</b> Indicates the population density of your city.
                            </div>
                            <div>
                                <b>Steering type:</b> Indicates the steering mode used in the vehicles. There are three options to choose from.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--FORM-->
    <div class="container px-4 min-vh-100 mt-5">
        <div class="d-sm-block d-xxl-none fs-5">
            <h1>Introduction</h1>
            <p>
                Welcome to the vehicle insurance claim prediction application. This application uses
                machine learning to predict whether or not a policyholder will file a claim for vehicle
                insurance. To use the application, simply fill out the form provided.
            </p>
            <p>
                Once you have entered this information, click on the 'Predict' button and the
                application will determine whether or not you are likely to file a claim for vehicle insurance.
            </p>
            <p>
                Kindly note that this application is not a substitute for professional advice! If you have
                any questions about your insurance coverage, please contact your insurance agent.
            </p>
        </div>
        <div class="row flex-md-row py-4 mt-5" aria-required="true">
            <form class="row col-md-6 align-items-center fs-5" action= "{{ url_for('predict') }}" method="POST">
                <div class="mb-3">
                    <label for="policy_tenure" class="form-label">Policy tenure:</label>
                    <input type="number" min="0.5" max="5" step="0.25" class="form-control" name="policy_tenure" placeholder="TBD" required>
                </div>
                <div class="mb-3">
                    <label for="age_of_car" class="form-label">Age of vehicle:</label>
                    <input type="number" min="0" max="15" class="form-control" name="age_of_car" placeholder="TBD" required>
                </div>
                <div class="mb-3">
                    <label for="age_of_policyholder" class="form-label">Age of policyholder:</label>
                    <input type="number" min="18" max="70" class="form-control" name="age_of_policyholder" placeholder="TBD" required>
                </div>
                
                <div class="mb-3">
                    <label for="population_density" class="form-label">Population density:</label>
                    <input type="number" min="290" class="form-control" name="population_density" placeholder="TBD" required>
                </div>
                <label for="steering_type" class="select-label mb-2">Steering type:</label>
                <div class="input-group mb-0">
                    <label class="input-group-text" for="steering_type">Options</label>
                    <select class="form-select" name="steering_type" aria-label="steering_type">
                        <option value="Power">Power</option>
                        <option value="Electric">Electric</option>
                        <option value="Manual">Manual</option>
                    </select>
                </div>
                <!--PREDICT-->
                <div class="container col-6 mx-0 py-2 mt-5">
                    <input type="submit" class="btn btn-secondary container" value="Predict">
                </div>
            </form>
            <div class="row col-md-6">
                <h1 class="d-none d-xxl-block">Introduction</h1>
                <p class="d-none d-xxl-block fs-5">
                    Welcome to the vehicle insurance claim prediction application. This application uses
                    machine learning to predict whether or not a policyholder will file a claim for vehicle
                    insurance. To use the application, simply fill out the form provided.
                </p>
                <p class="d-none d-xxl-block fs-5">
                    Once you have entered this information, click on the 'Predict' button and the
                    application will determine whether or not you are likely to file a claim for vehicle insurance.
                </p>
                <p class="d-none d-xxl-block fs-5">
                    Please not that this application is not a substitute for professional advice! If you have
                    any questions about your insurance coverage, please contact your insurance agent.
                </p>
                <div class="my-2 d-none d-md-block fs-5">
                    <h1 class="d-none d-md-block">Input definitions</h1>
                    <div class="my-4"><b>Policy tenure:</b> Indicates the time period for the insurance policy.</div>
                    <div class="my-4"><b>Age of vehicle:</b> Indicates the age of the vehicle in years.</div>
                    <div class="my-4"><b>Age of policyholder:</b> Indicates the age of the policyholder in years.</div>
                    <div class="my-4"><b>Population density:</b> Indicates how densely populated your residing city is.</div>
                    <div class="my-4"><b>Steering type:</b> Indicates the steering mode used in the vehicles. There are three options to choose from.</div>
                </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <div class="container-fluid text-center bg-secondary-subtle">
        <footer class="py-1 mt-4 mb-0">
            <span>Eugene Taylor Sampson</span>
            <div>© 2023</div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>


</html>