<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vehicle Insurance Claims</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Generate predictions for Vehicle insurance claims." />
    <meta property="og:title" content="Vehicle Insurance Claims" />
    <meta property="og:description" content="Generate predictions for Vehicle insurance claims." />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Inter:wght@400;500&family=League+Spartan:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet">
</head>

<body class="bg-light-subtle">
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md shadow-sm bg-secondary-subtle">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="mailto:esampson692@gmail.com?subject=Vehicle Insurance Claims Project"
                            target="_blank">Contact Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Return to home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--STATEMENT-->
    <div class="container my-5 text-center fs-4 mt-3 min-vh-100">

        <h1 class="text-center">PREDICTION:</h1>

        {% if results > 0 %}
        <img src="{{ url_for('static', filename='/Image/warning.png') }}" class="img-fluid" alt="Loading image">
        <div class="container mt-3">
            <p class="text-start text-danger">
                Based on the information provided, you are most likely to file an insurance claim within the next few
                months.
                While it is good to hope for the best, necessary precautions still need to be taken.
            </p>
            <p class="text-start">
                Remember to always practice defensive driving, especially in densely populated areas.
                Should there be an incident:
            </p>
            <div class="container text-start mt-2">
                <ul>
                    <li>
                        Gather all relevant information of you and any other drivers involved
                    </li>
                    <li>
                        File your claim as soon as possible to increase the chances of a thorough investigation
                    </li>
                    <li>
                        Honesty and accuracy are key when providing information
                    </li>
                    <li>
                        Cooperate with your insurance company
                    </li>
                    <li>
                        Exercise patience as much as possible at the time of the incident
                    </li>
                </ul>
            </div>
            <p class="text-start">
                If you have any questions or concerns about filing an insurance claim, be sure to contact your insurance
                company.
                They should be happy to help!
            </p>
        </div>

        {% else %}
        <img src="{{ url_for('static', filename='/Image/okay.jpg') }}" class="img-fluid" alt="Loading image">
        <div class="container mt-3">
            <p class="text-start text-success">
                Based on the information provided, the odds of you filing an insurance claim within the next few
                months are unlikely.
                Though a positive outcome was generated, necessary precautions still need to be taken.
            </p>
            <p class="text-start">
                Remember to always practice defensive driving, especially in densely populated areas.
                Should there be an incident:
            </p>
            <div class="container text-start mt-2">
                <ul>
                    <li>
                        Gather all relevant information of you and any other drivers involved
                    </li>
                    <li>
                        File your claim as soon as possible to increase the chances of a thorough investigation
                    </li>
                    <li>
                        Honesty and accuracy are key when providing information
                    </li>
                    <li>
                        Cooperate with your insurance company
                    </li>
                    <li>
                        Exercise patience as much as possible at the time of the incident
                    </li>
                </ul>
            </div>
            <p class="text-start">
                However, if you have any questions or concerns about filing an insurance claim, be sure to contact your insurance
                company.
                They should be happy to help!
            </p>
        </div>
        {% endif %}

        <!--CONCLUSION-->
        <div class="fs-4 d-none d-xl-block text-start">
            <p>I want to thank you for your engagement in this project. Please, do not hesitate to contact me for any
                suggestions on how to improve user interaction and experience.
                For those of you who may be interested in more detailed information regarding the full stack project
                application, kindly visit my <a href="https://github.com/TaylortheGenie/insurance_claims"
                    target="_blank">github link</a>.
            </p>
            <p>Thank you for your time and feedback.</p>
        </div>
        <div class="fs-5 d-sm-block d-xl-none text-start">
            <p>I want to thank you for your engagement in this project. Please, do not hesitate to contact me for any
                suggestions on how to improve user interaction and experience.
                For those of you who may be interested in more detailed information regarding the full stack project
                application, kindly visit my <a href="https://github.com/TaylortheGenie/insurance_claims"
                    target="_blank">github link</a>.
            </p>
            <p>Thank you for your time and feedback.</p>
        </div>
    </div>

    <!--FOOTER-->
    <div class="container-fluid text-center bg-secondary-subtle">
        <footer class="py-1 mt-4 mb-0">
            <span>Eugene Taylor Sampson</span>
            <div>© 2023</div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>


</html>